.nav-page {
    color: var(--navyblue, #2E2F42);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.contacts {
    color: var(--slate, #434455);
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;

}

body {
    background-color: #FFF;
    font-family: "Roboto",
            sans-serif;
    color: #434455;

}

.first-section {
    background: var(--navyblue, #2E2F42);
    flex-shrink: 0;
}

.main-tittle {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}

.button-order {
    background: var(--iris, #4D5AE5);
}

.benefits-list-h {
    color: var(--navyblue, #2E2F42);
    font-family: "Roboto",
        sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.benefits-list-text {
    color: var(--slate, #434455);
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.our-team {
    flex-shrink: 0;
    background: var(--cloud, #F4F4FD);
}

.tittle-2 {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: "Roboto",
        sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.personal-card {
    justify-content: center;
    background: var(--white, #FFF);
}

.team-names {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: "Roboto",
        sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.team-position {
    color: var(--slate, #434455);
    text-align: center;
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.portfolio-list {
    color: var(--navyblue, #2E2F42);
    font-family: "Roboto",
        sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.portfolio-list-desc {
    color: var(--slate, #434455);
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

footer {
    flex-shrink: 0;
    background: var(--navyblue, #2E2F42);
}

.footer-text {
    color: var(--cloud, #F4F4FD);
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}